{% load static %}
<html>
{% include 'template.head.html' %}
{% block body %}
<!-- nabvar -->
<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
</nav>
<!-- /nabvar -->
  
<!-- container -->
<div class="container-fluid">
    <!-- Content here -->
    <section class="py-0 text-center container">
        <div class="row py-lg-5">
    <div class="col-lg-8 col-md-8 mx-auto">
        <div class="col-md-auto">
            <h1 class="display-6">Token de consulta</h1>
            <div class="card">
                <div class="card-body">
                    <div class="alert alert-info" role="alert">
                        <p class="text-center">
                            <i class="fas fa-info fa-2x p-2"></i>
                            El token se genera solo una vez y solo tiene una duración de 5 consultas.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <form class="card p-2 border-0" method="POST" action="{% url 'token' %}">
                                {% csrf_token %}
                                <div class="input-group">
                                    <button type="submit" class="btn btn-dark">Solicitar token:</button>
                                    <input type="text" class="form-control" placeholder="" value="{{ token }}" aria-label="readonly" readonly>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>

<!-- /container -->

<!-- footer -->
<!-- /footer -->
{% endblock %}
{% include 'template.footer.html' %}
</html>


